{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ title }}</h1>

    <p>{{ category.name }} <span><a href="{{ path('app_category_edit', { "id": category.id }) }}">Modifier</a></span></p>

    {{ include('category/_delete_form.html.twig') }}


    {% for movie in category.movies %}
        {{ dump(movie) }}
    {% endfor %}

    <nav>
        <p><a href="{{ path('app_category') }}">Retour à la liste</a></p>
    </nav>

    <div style="background-color:pink;color:red;">
    {% for message in app.flashes('erreur') %}
        <p>{{ message }}</p>
    {% endfor %}
    </div>
</div>
{% endblock %}
